

/* img{
  width: 50%;
  height: 80%;
  border-radius: 50%;
} */
.form-control:focus {
  box-shadow: none;
  border-color: black;
}
.profile-button {
  background:black;
  box-shadow: none;
  border: none;
}
.profile-button:hover {
  background:black;
}
.profile-button:focus {
  background: black;
  box-shadow: none;
}
.profile-button:active {
  background: black;
  box-shadow: none;
}
.back:hover {
  color: black;
  cursor: pointer;
}
.labels {
  font-size: 16px;
}
.add-experience:hover {
  background: black;
  color: #fff;
  cursor: pointer;
  border: solid 1px black;
}
